export COLORTERM=truecolor
export CLAUDE_CODE_NO_FLICKER="1"

export CLAUDE_CODE_DISABLE_FEEDBACK_SURVEY="1"
export DISABLE_TELEMETRY="1"

# export HTTP_PROXY=
# export HTTPS_PROXY=

export ANTHROPIC_BASE_URL=
export ANTHROPIC_API_KEY=
export CLAUDE_CODE_DISABLE_1M_CONTEXT="0"
export ANTHROPIC_MODEL=
export ANTHROPIC_DEFAULT_OPUS_MODEL=
export ANTHROPIC_DEFAULT_SONNET_MODEL=
export ANTHROPIC_DEFAULT_HAIKU_MODEL=

export ANTHROPIC_SMALL_FAST_MODEL="haiku"
export CLAUDE_CODE_SUBAGENT_MODEL="sonnet"

export ANTHROPIC_CUSTOM_MODEL_OPTION=
